.double {
  display: flex;
  margin-top: 5vw;
  height: 40vw;
}
.double .imageContainer:nth-of-type(1) {
  width: 63.33%;
  margin-right: 15px;
  border-radius: 18px;
}
.double .imageContainer:nth-of-type(2) {
  width: 36.66%;
  margin-left: 15px;
}
.double .imageContainer .stretchyWrapper {
  padding-bottom: 66%;
  position: relative;
}
.double .imageContainer .stretchyWrapper img {
  object-fit: cover;
  border-radius: 24px;
}
.double:nth-child(even) .imageContainer:nth-of-type(1) {
  width: 36.66%;
}
.double:nth-child(even) .imageContainer:nth-of-type(2) {
  width: 63.33%;
}
.double .body {
  font-size: 16px;
  padding: 10px;
}
.double .body h3 {
  font-size: 1.6vw;
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: 500;
  font-family: 'CLashDisplay';
  color: var(--black1);
}

.double .body h4 {
  font-size: 1.5vw;
  margin: 0px;
  color: var(--black2);
}

.double .body p {
  font-size: 1.3vw;
  margin: 0px;
  color: var(--gray1);
}
.double .body p:nth-of-type(2) {
  color: #656565;
  transform: translateY(300);
}
