.nextContainer {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subHeading p {
  margin-right: 11vw;
  margin-bottom: 0.5vw;
  font-size: 1.2vw;
  color: var(--black2);
}

.mainHeading h5 {
  font-size: 7vw;
  font-weight: 500;
  color: var(--black2);
  position: relative;
  letter-spacing: 1px;
}

.mainHeading h5:before {
  content: "";
  display: block;
  position: absolute !important;
  height: 2px;
  bottom: 10px;
  width: 100%;
  left: 0;
  background: currentColor;
  transform: scaleX(1);
  transition: all 300ms ease-out;
}

.mainHeading h5:hover:before {
  transform: scaleX(0);
  transition: all 300ms ease-out;
}

@media screen and (max-width: 991px) {
  .nextContainer {
    height: 40vh;
  }

  .subHeading p {
    font-size: 4.2vw;
  }

  .mainHeading h5 {
    font-size: 10vw;
  }

/* Projects Next Styles */
  .nextUpContainer {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }
}

@media screen and (max-width: 776px) {

/* Projects Next Styles */
  .nextUpContainer {
    width: 100%;
    height: 30vh;
    margin-bottom: 15vh;
  }
}


/* Projects Next Styles */
@media screen and (min-width: 1200px) {
  .nextUpContainer {
    display: none;
  }
}