.Main {
  width: 100%;
  height: auto;
}

.HeroSection {
  width: 80%;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSubSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.HeroLeftBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.HeroLeftBox .Link {
  font-size: 1.2vw;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 500;
}

.linkSvg img {
  margin-left: 8px;
    height: 0.8vw;
    width: 0.8vw;
    margin-bottom: 5px;
}

.HeroLeftBox h1 {
  font-size: 4.5vw;
  font-weight: 500;
  color: var(--black2);
  margin-top: 2vw;
}

.HeroRightBox {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.HeroRightBox p{
  font-size: 1.2vw;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 1px;
}
.work{
  margin-bottom: 10px;
}
.year{
  margin-bottom: 30px;
}

/* Parallax Image Section */
.imageSection {
  width: 90%;
  margin: 0 auto;
}

.imageSection .imageBox {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100vh;
}

.imageSection .imageBox .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Third Section */
.thirdSection {
  width: 100%;
  height: 100%;
}
.thirdSectionContent {
  width: 75%;
  height: 100%;
  margin: 10vw auto;
  display: flex;
  justify-content: space-between;
}
.h3 {
  font-size: 1.5vw;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.thirdSectionRightBox {
  width: 70%;
}
.paraTop .h4 {
  font-size: 2vw;
  letter-spacing: 1.5px;
  color: var(--black1);
  font-weight: 500;
  text-align: justify;
  margin-bottom: 6vh;
  font-family: 'Ageo';
}

.thirdSectionRightBox .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
}
.thirdSectionRightBox .buttonBox h3 {
  margin-right: 3vw;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 15px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  border: 0.01vw solid var(--black1);
  transition: all 0.3s ease-in;
  color: var(--black1);
}

/* Forth Section */
.forthSection {
  width: 100%;
  height: 100%;
}
.forthSectionContent {
  width: 75%;
  height: 100%;
  margin: 10vw auto;
  display: flex;
  justify-content: space-between;
}
.forthSectionLeftBox {
  width: 40%;
}
.forthSectionRightBox {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.paraTop p {
  font-size: 1.5vw;
  line-height: 1.3;
  margin-bottom: 5vh;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Ageo';
  text-align: justify;
}


.clientTestimonialSection{
  width: 100%;
  height: 100%;
}

.clientTestimonialSectionContent{
  width: 60%;
  height: 100%;
  margin: 12vw auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clientTestimonialSectionLeftBox h3{
  font-size: 1.4vw;
  font-weight: 500;
  color: var(--black1);
  text-transform: uppercase;
  margin-bottom: 10vh;
  letter-spacing: 1.5px;
}

.clientTestimonialparaTop h4{
  font-size: 1.9vw;
  letter-spacing: 0.5px;
  color: var(--black1);
  font-weight: 500;
  text-align: justify;
  margin-bottom: 3vw;
  font-family: 'Ageo';
}
.clientTestimonialSpan{
  color: var(--black1);
  font-weight: 400;
}
.clientTestimonialSpan2{
  color: var(--gray);
  font-size: 9vw;
  line-height: 0;
  font-family: sans-serif;
  vertical-align: bottom;
}
.clientTestimonialSectionBottomBox{
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 60%;
  padding-top: 2vh;
}

.clientTestimonialSectionFigure img{
  width: 6vw;
  border-radius: 50%;
}
.clientTestimonialSectionFigureText p{
  font-size: 1.5vw;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* Logo Section Images */
.logoSection {
  width: 100%;
  height: 100%;
}
.logoImageSection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstLogoBox {
  width: 37%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.secondLogoBox {
  width: 37%;
  height: 90%;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 35vw;
  height: 100%;
}

.imageContainer img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  padding: 0;
}

.logoImageSectionSecond {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts Section */
.fontSection {
  width: 85%;
  height: 100%;
  margin: 10vw auto;
}
.h2 {
  font-size: 4vw;
  color: var(--black2);
  text-transform: uppercase;
  font-weight: 500;
}
.fontImagebox {
  width: 85%;
  margin: 0 auto;
  padding-top: 5vh;
}
.fontImagebox img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}


/* Colour Section */
.colorSection {
  width: 100%;
  height: 100vh;
  position: relative;
}
.colorHeading {
  width: 85%;
  margin: 0 auto;
}
.colorBox {
  width: 85%;
  margin: 0 auto;
  padding-top: 5vh;
}
.colorBoxHeadingBackground p {
  position: absolute;
  font-size: 17vw;
  top: 80%;
  left: 50%;
  line-height: calc(50px + 350 * ((100vw - 320px) / 1920));
  font-weight: 600;
  opacity: 0.4;
  color: #bbbbbb61;
  text-align: center;
  transform: translate(-50%, -50%);
}

.colorBoxesSection {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorBoxesSection ul {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  display: grid;
  grid-template-columns: 34% 28% 21% 17%;
}

.colorBoxesSection ul li {
  padding-bottom: 1vw;
  padding-left: 1vw;
  list-style: none;
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.9vw;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.colorOne {
  width: 100%;
  height: 210px;
  background: #1f56f9;
  z-index: 1;
  transform-origin: left center;
}
.colorTwo {
  width: 90%;
  height: 160px;
  z-index: 1;
  background: #ec374d;
}
.colorThree {
  width: 80%;
  height: 110px;
  z-index: 1;
  background: #013c9f;
}
.colorFour {
  width: 70%;
  height: 80px;
  z-index: 1;
  background: #f9bc40;
}

/* Video Section */
.videoSection{
  margin-top: 10vh;
}
.videoHeading {
  width: 90%;
  margin: 0 auto;
  padding: 4vh 0;
}
.videoH2{
  font-size: 4vw;
  color: var(--black2);
  text-transform: capitalize;
  font-weight: 500;
}
.videoMainSection {
  width: 100%;
  height: 100%;
}
.videoContainer {
  margin: 0 auto;
  width: 90vw;
}
.videoContainer video {
  width: 100%;
  height: 100%;
  object-position: center;
}

/* ========================= Media Queries ===================
==============================================================
============================================================== */

@media (min-width: 1201px) and (max-width: 3839px) {
  .mobile {
    display: none !important;
    visibility: hidden !important;
  }

  .mobileImg {
    display: none !important;
  }

  .dharanmobileImg {
      display: none !important;
    }

  .mobileFont {
    display: none;
  }
  
  .nextUpContainer {
    display: none;
  }
}

@media screen and (max-width: 1536px) {
 .HeroSection{
  height: 60vh;
 }
}

@media screen and (max-width: 991px) {
  .ipad {
    height: 10vh;
  }

  #ipad {
    display: none !important;
  }

  .desktopSlider {
    display: none;
  }

  .desktopFont {
    display: none;
  }

/* Hero Section */
  .HeroSection {
    height: 40vh;
    width: 90%;
  }
  .HeroLeftBox h1 {
    font-size: 5.5vw;
  }
  .HeroLeftBox .Link {
    font-size: 2.5vw ;
  }
  .linkSvg img {
    margin-bottom: 0.5vw;
    margin-left: 0.2vw;
    width: 2.8vw;
    height: 1.7vw;
  }
  .HeroRightBox {
    width: 30%;
    height: auto;
  }

  .HeroRightBox p{
    font-size: 2.5vw;
    margin-bottom: 0.8vh;
  }

  /* Image Section */
  .imageSection .imageBox {
    height: 40vh;
  }
  .img {
    width: 130% !important;
    object-fit: cover;
  }

  /* Third Section */
  .thirdSectionContent {
    width: 80%;
    margin: 10vh auto;
  }

  .h3{
    font-size: 2.5vw;
  }

  .thirdSectionRightBox {
    width: 65%;
  }

  .paraTop .h4 {
    font-size: 2.7vw;
    letter-spacing: 0;
    margin-bottom: 4vh;
  }

  .thirdSectionRightBox .buttonBox{
      justify-content: flex-start;
  }

  .thirdSectionRightBox .buttonBox h3 {
      font-size: 1.8vw;
      padding: 7px 12px;
      letter-spacing: 0px;
      margin-right: 30px;
  }

/* Forth Section */

  .forthSectionContent{
    width: 80%;
  }
  .forthSectionLeftBox{
    width: 40%;
  }
  .forthSectionRightBox {
    width: 80%;
  }
  .paraTop p {
    font-size: 2.5vw;
    text-align: justify;
    letter-spacing: 0;
    margin-bottom: 3vh;
  }

/* Client Testimonial */
  .clientTestimonialSection{
    margin: 10vh 0;
  }
  .clientTestimonialSectionContent{
    width: 85%;
    gap: 5vh;
  }
  .clientTestimonialSectionLeftBox h3{
    font-size: 3vw;
    margin-bottom: 0;
  }
  .clientTestimonialparaTop h4{
    font-size: 2.7vw;
  }
  .clientTestimonialSectionFigure img{
    width: 14vw;
  }
  .clientTestimonialSectionFigureText p{
    font-size: 2.5vw;
  }

/* Logo Image Section */
  .logoImageSection {
    height: 50vh;
  }
  .firstLogoBox {
    height: 100%;
    margin-right: 3vw;
  }
  .secondLogoBox {
    height: 100%;
  }
  .imageContainer {
    width: 37vw;
    height: 85%;
  }

  .imageContainer img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
  }
  .logoImageSectionSecond {
    height: 50vh;
  }


  /* Font & Colour Section*/
  .fontSection {
    height: 100%;
  }
  .fontImagebox {
    padding-top: 2vh;
  }
  .h2{
    font-size: 5vw;
  }
  .colorSection {
    height: 100%;
    margin: 10vw 0;
  }
  .colorBoxesSection {
    height: 80%;
  }
  .colorBoxHeadingBackground p {
    display: none;
  }
.colorBoxesSection ul{
  display: block;
}
.colorBoxesSection ul li{
  font-size: 2vw;
}
.colorOne, .colorTwo, .colorThree, .colorFour{
  height: 120px;
}
.videoH2{
  font-size: 5vw;
}
 
  .nextUpContainer {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }

  .nextUpContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nextTitle {
    text-align: left;
  }

  .nextTitle h1 {
    font-size: 3vw;
    font-weight: 500;
    opacity: 0.7;
    margin-right: 0;
    margin-bottom: 1vw;
    color: #1a1a1a;
  }

  .nextProjectHeading {
    width: fit-content;
    text-align: center;
  }

  .nextProjectHeading h1 {
    font-size: 7vw;
    font-weight: 500;
    color: #1a1a1a;
    position: relative;
  }

  .nextProjectHeading h1:before {
    content: "";
    display: block;
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 8.5vw;
    height: 0.2vw;
    background: currentColor;
    -webkit-transition: -webkit-transform 0.45s
      cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -o-transition: -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -moz-transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  }

  .nextProjectHeading h1:focus:before,
  .nextProjectHeading h1:hover:before {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  
}

@media screen and (max-width: 776px) {

  .HeroLeftBox .Link {
    font-size: 3vw;
  }
  .linkSvg img {
    margin-bottom: 0vw;
    margin-left: 1.5vw;
    width: 2vw;
    height: auto;
  }
  .HeroSection {
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 30vw 0;
    justify-content: center;
  }
  .mainSubSection {
    height: auto;
    flex-direction: column;
  }
  .HeroLeftBox h1 {
    font-size: 8vw;
    font-weight: 500;
    color: #1a1a1a;
    margin-top: 7vw;
  }
  .HeroRightBox {
    width: 100%;
    margin-top: 7vw;
    align-items: flex-start;
  }
  .HeroRightBox p{
    font-size: 3vw;
    margin-bottom: 1.5vh;
  }

  /* Second Image Section */
  .imageSection .imageBox {
    height: 50vh;
  }

  .img {
    height: calc(100% + 15rem);
    width: auto;
    object-fit: cover;
  }

/* Third Section */
  .thirdSectionContent {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 15vw 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .h3 {
    font-size: 5.5vw;
  }
  .paraTop .h4 {
    font-size: 4vw;
  }
  .thirdSectionRightBox {
    width: 100%;
    margin-top: 6vw;
  }
  .thirdSectionRightBox .buttonBox h3 {
    font-size: 3.2vw;
    padding: 1.2vw 3vw;
    margin-right: 20px;
  }

  /* Forth Section */
  .forthSectionContent {
    width: 85%;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  .forthSectionLeftBox{
    width: 100%;
  }
  .forthSectionRightBox {
    width: 100%;
    margin-top: 6vw;
  }
  .paraTop p {
    font-size: 3.6vw;
  }

  /* Client Section */
  .clientTestimonialSection{
    margin: 0%;
  }
  .clientTestimonialSectionContent{
    width: 85%;
    display: block;
    margin: 15vh auto;
  }
  .clientTestimonialSectionLeftBox h3{
    font-size: 5vw;
    margin-bottom: 6vh;
  }
  .clientTestimonialparaTop h4{
    font-size: 3.8vw;
    padding-bottom: 3vh;
  }
  .clientTestimonialSectionBottomBox {
    width: 100%;
    padding-top: 0vh;
    flex-direction: column;
  }
  .clientTestimonialSectionBottomBox {
    width: 100%;
    padding-top: 0vh;
    flex-direction: column;
  }
  .clientTestimonialSectionFigure img{
    width: 25vw;
  }
  .clientTestimonialSectionFigureText p{
    font-size: 4vw;
    text-align: center;
  }

  .clientTestimonialSpan2{
    font-size: 18vw;
  }



  /* Logo Image Section */
  .logoSection {
    height: 100%;
  }
  .logoImageSection{
    height: 100vh;
    flex-direction: column;
  }
  .firstLogoBox {
    width: 85%;
    margin-right: 0;
  }
  .secondLogoBox {
    width: 85%;
    margin-top: 15vw;
  }
  .imageContainer {
    width: 100%;
    height: 100%;
  }
  .imageContainer img {
    object-fit: cover;
  }
  .secondLogoBox .imageContainer img {
    height: 160%;
  }
  .logoImageSectionSecond {
    flex-direction: column;
    height: 100vh;
    padding-top: 10vw;
  }

  /* Font Section & Color Section*/
  .fontSection {
    height: auto;
  }
  .fontImagebox {
    width: 100%;
    padding: 10vw 0;
    height: 100%;
  }
  .h2 {
    font-size: 7vw;
  }
  .desktopFont {
    display: none;
  }
  .colorSection {
    height: 100%;
  }
  .colorBoxesSection {
    justify-content: flex-start;
    height: 100%;
    margin-top: 15vw;
  }
  .colorBoxesSection ul{
    display: block !important;
  }
  .colorBoxesSection ul li{
    font-size: 3vw;
  }
  .colorOne{
    height: 100px;
  }
  .colorTwo{
    height: 100px;
  }
  .colorThree{
    height: 100px;
  }
  .colorFour{
    height: 100px;
  }
  .colorBox {
    display: none;
  }
  .colorBoxesSection img {
    width: 100%;
  }
  .mobileImg {
    width: 90%;
    margin: 0 auto;
    padding: 10vw 0;
  }
  .mobileImg img {
    width: 100%;
  }

  .videoH2 {
    font-size: 7vw;
    max-width: 80vw;
  }

  .videoForthSection {
    height: auto;
    margin-bottom: 10vw;
  }

  .websiteDesignSection {
    flex-direction: column;
    width: 85%;
    height: 100%;
    padding: 10vw 0;
  }

  .websiteDesignSection .leftBox {
    width: 100%;
  }

  .websiteDesignSection .leftBox h1 {
    font-size: 6vw;
  }

  .websiteDesignSection .rightBox {
    width: 100%;
    margin-top: 4vw;
  }

  .websiteDesignSection .rightBox h1 {
    font-size: 3.8vw;
  }

  .desktopSlider {
    display: none;
  }

   .nextUpContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin-bottom: 10vh;
  }

  .nextUpContent {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nextTitle {
    margin-left: 4vw;
    text-align: left;
  }

  .nextTitle h1 {
    font-size: 5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-right: 0;
    margin-bottom: 1vw;
    color: #1a1a1a;
  }

  .nextProjectHeading {
    width: 100%;
    text-align: center;
  }

  .nextProjectHeading h1 {
    font-size: 10vw;
    font-weight: 500;
    color: #1a1a1a;
    position: relative;
  }

  .nextProjectHeading h1:before {
    content: "";
    display: block;
    position: absolute !important;
    left: 3vw;
    width: 85%;
    right: 0;
    bottom: 0;
    top: 13vw;
    height: 0.2vw;
    background: currentColor;
    -webkit-transition: -webkit-transform 0.45s
      cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -o-transition: -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -moz-transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  }

  .nextProjectHeading h1:focus:before,
  .nextProjectHeading h1:hover:before {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@media screen and (max-width: 480px) {
  .HeroLeftBox .Link, .HeroRightBox p {
    font-size: 4vw;
    margin: 0;
  }
  .paraTop .h4{
    font-size: 5vw;
  }
  .paraTop p, .clientTestimonialparaTop h4{
    font-size: 4.5vw;
    letter-spacing: 1px;
  }
  .thirdSectionRightBox .buttonBox h3{
    margin-right: 10px;
  }
}
