.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .modalContent {
    width: 50%;
    background: white;
    padding: 60px 60px;
    border-radius: 10px;
    font-family: 'Ageo';
    height: 85%;
    overflow: hidden;
    position: relative;
  }

  .scroll-content{
    background-color: white !important;
  }

  .modalContentHead{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
  }

  .modalImage{
    width: 150px;
    background: var(--gray);
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .modalImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .modalContentHead h3{
    width: 80%;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 1.3;
  }

  .modalContentPara{
    overflow: auto;
    height: 25vw;
    padding: 0 20px;
    position: relative !important;
    width: 100%;
  }

  .modalContentPara p{
    font-size: 1.2vw;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-align: justify;
    color: var(--black2);
  }

  .modalClose{
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .modalClose img{
    width: 50px;
  }

  @media screen and (max-width: 1024px) {
    .modalImage{
      width: 150px;
      aspect-ratio: 1;
      height: auto;
    }
    .modalContentHead h3{
      width: 100%;
      font-size: 4vw;
    }
    .modalContent{
      width: 90%;
      padding: 60px 60px;
    }
    .modalContentPara{
      padding: 0;
      height: 55vh;
    }
    .modalContentPara p{
      font-size: 3vw;
      margin-bottom: 20px;
      line-height: 1.2;
      letter-spacing: 0;
    }
  }

  @media screen and (max-width: 480px) {
    .modalContent{
      width: 90%;
      padding: 40px 40px;
    }
    .modalContentHead{
      margin-bottom: 20px;
    }
    .modalImage{
      display: none;
    }
    .modalContentHead h3{
      font-size: 26px;
    }
    .modalContentPara p{
      font-size: 20px;
    }
  }