.card {
    padding: 24px;
    cursor: pointer;
    font-family: 'Ageo';
    overflow: hidden;
    background: var(--white);
    box-shadow: 1px 1px 10px #00000010;
    border-radius: 10px;
  }

  .cardMain{
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }

  .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
  }

  .card h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .card p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1536px) {
    .card img{
      width: 80px;
      height: 80px;
    }
    .card h2{
      font-size: 20px;
    }
  
    .card p{
      font-size: 16px;
    }
    .card {
      padding: 20px;
    }
  }

  @media screen and (max-width: 776px) {
    .card img{
      width: 110px;
      height: 110px;
    }
    .card h2{
      font-size: 20px;
    }
  
    .card p{
      font-size: 16px;
    }
  }