.svgBackground {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.svgBackground svg {
  width: 100px;
}

.svgBackground img {
  width: 150px;
  filter: invert(1);
}

@media screen and (max-width: 776px) {
  .svgBackground img {
    width: 50px;
  }
}
