.projectSectionMain {
  width: 100%;
  height: 100%;
  margin-bottom: 5vw;
}

.mt20 {
  margin-top: 10vw;
}

.font {
  font-family: "Averta";
  font-weight: 400;
}

.projectHeading {
  padding: 5vw 0 6vw 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectFirstBox {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paraProject {
  font-size: 1.2vw;
  max-width: 25vw;
  font-weight: 500;
  color: #1a1a1a;
  text-align: justify;
  font-family: 'Ageo';
}

.projectHeading .select {
  font-size: 8vw;
  color: #1a1a1a;
  line-height: 1;
  height: 150px;
}

.projectHeading .project {
  font-size: 8vw;
  margin-left: 16vw;
  color: #5d5ad6;
}

.projectHomeHeading{
  width: 120%;
  height: 170px;
  display: flex;
  justify-content: center;
  margin-right: 30vw;
}

.lineAnim{
  position: relative;
  overflow: hidden;
}

.lineAnim .span{
 position: absolute;
}

.projectSubSection {
  width: 77%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.glide {
  width: 45%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.glideContent {
  width: 100%;
  position: relative;
  height: 95%;
  overflow: hidden;
  border-radius: 2.5vw;
}

.glideContent img {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -15%;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}

.projectHover {
  visibility: hidden;
}

/* Prevents :hover from triggering in the gaps between items */

.projectHover > * {
  visibility: visible;
}

.projectHover:hover > * img:not(:hover) {
  filter: grayscale(1);
}

/* Fade out all items when the parent is hovered */

.projectSubSection > *:hover {
  filter: grayscale(0);
  transition-delay: 1ms, 1ms;
}

/* .glideContent img:hover {
    filter: grayscale(1);
  }   
  */

/* .projectHover:hover img:hover {
  filter: grayscale(0);
} */

/* .glideContent:hover img:not(:hover) {
  filter: grayscale(1);
} */

.textContent h1 {
  background: #fff;
  padding: 0.7vw 3.3vw;
  border-radius: 50px;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Ageo";
}

.c_project_info {
  width: auto;
  position: absolute;
  bottom: 0.2vw;
  text-decoration: none;
  padding: 0 0 20px 20px;
  z-index: 99;
}

.c_project_info > p {
  display: block;
  padding: 12px 30px;
  font-size: 10px;
  background: #fff;
  color: #282828;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.4s;
}

.c_project_info > p {
  display: block;
  padding: 12px 30px;
  font-size: 0.8vw;
  background: #fff;
  color: #282828;
  margin: 10px 0;
  opacity: 0;
  border-radius: 20px;
  transform: translateY(-50%);
  transition: 0.4s;
  width: max-content;
  font-weight: 500;
  font-family: "Ageo";
}

.glide:hover .c_project_info p {
  transform: translateY(0);
  opacity: 1;
}

.c_project_info > p:first-child {
  transition-delay: 0.1s;
}

.c_project_info > p:nth-child(2) {
  transition-delay: 0.2s;
}

.projectCta {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.c_prj_btn {
  background-color: #fff;
  border-radius: 100px;
  padding: 18px;
  display: flex;
  margin-left: 1vw;
  height: max-content;
}

.c_prj_btn svg {
  width: 1.1vw;
}

@media screen and (max-width: 1536px) {
  .projectSubSection {
    height: 85vh;
  }

}

@media screen and (max-width: 1440px) {
  .projectSubSection {
    height: 85vh;
  }
}

@media screen and (max-width: 1280px) {
  .projectSubSection {
    height: 85vh;
  }
}

@media screen and (max-width: 1024px) {
  .projectSubSection {
    height: 65vh;
  }
}

@media screen and (max-width: 991px) {

  .ipad{
    height: 10vh;
  }

  .projectHeading {
    width: 100%;
  }

  .projectHeading .select {
    font-size: 9vw;
  }

  .paraProject {
    font-size: 2vw;
    max-width: 40vw;
  }

  .projectHeading .project {
    font-size: 9vw;
    margin-left: 2vw;
  }

  .projectSubSection {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }

  .glide {
    width: 80%;
    height: 70vh;
    margin-bottom: 10vw;
  }

  .glideContent {
    border-radius: 6.5vw;
  }

  .glideContent img {
    top: -10%;
    height: 125%;
  }

  .displayNoneMobile{
    display: none;
  }

  .mb_0 {
    margin-bottom: 0vw;
  }

  .mt20 {
    margin-top: 5vw;
  }

  .mt0 {
    margin-top: 5vw;
  }

  .forthMt{
    margin-top: 0;
  }

  .textContent h1 {
    font-size: 4vw;
    padding: 1vw 5.5vw;
  }

  .c_prj_btn svg {
    width: 2.5vw;
  }

  .c_project_info > p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 767px) {
  .mobileSpacing {
    height: 10vh;
  }

  .mt20 {
    margin-top: 0;
  }

  .displayNoneMobile{
    display: none;
  }

  .projectHeading {
    padding: 40vw 0 15vw 0;
  }

  .projectHeading .select{
    height: 60px;
    font-size: 14vw;
  }

  .projectHomeHeading{
    margin-right: 49vw;
    height: 70px;
    width: 150%;

  }

  .projectHeading .project {
    font-size: 14vw;
  }

  .projectSubSection {
    width: 90%;
    flex-direction: column;
  }

  .glide {
    width: 100%;
    margin: auto;
    height: 60vh;
    margin-bottom: 15vw;
  }

  .glideContent {
    width: 100%;
    height: 100%;
    border-radius: 8vw;
  }

  .textContent h1 {
    font-size: 4.5vw;
    padding: 2.2vw 9vw;
  }

  .paraProject {
    display: none;
  }

  .font {
    font-size: 13vw;
  }

  .glideContent img {
    height: 140%;
    top: -20%;
  }

  .c_prj_btn {
    padding: 13px;
    margin-left: 2vw;
  }

  .c_prj_btn svg {
    width: 4vw;
  }

  .c_project_info > p {
    font-size: 2vw;
  }
}
